* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* --------------------------aside area---------------------- */
aside{
    width: 18%;
    /* border: 1px solid red; */
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}

.aside-top{
    width: 100%;
    height: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.aside-top>h1 {
    font-size: 2rem;
    font-family: var(--secondary-font-family);
    color: var(--primary-color);
}

.aside-top>h1>span {
    color: var(--order-panel-color);
} 

.aside-nav-button-list{
    width: 100%;
    height: 90%;
    /* border: 1px solid red; */
   
 

}

.side-nav-link {
    width: 95%;
    height: 60px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid var(--order-panel-color);
    background: var(--bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--primary-font-family);
    margin-top: 10%;
    cursor: pointer;
    margin-left: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.container{
    width: 82%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
}

/* --------------------------navbar area---------------------- */
.navbar {
    width: 100%;
    height: 10%;
    background: rgb(255, 222, 207);
    background: linear-gradient(0deg, rgba(249, 194, 169, 0.72) -12.37%, rgba(246, 196, 174, 0.00) 181.44%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    width: 45%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
}

.logo {
    padding-left: 3%;
    padding-right: 5%;
}

.cashier-top-notification {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  
}

.notifications-count {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right {
    width: 23%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.switch {
    position: relative;
    display: inline-block;
    width: 112px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F2F5;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid black;
    padding: 4px 3px;

}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 4px;
    top: 4px;
    bottom: 2px;
    background-color: var(--tertiary-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--secondary-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary-color);
}

input+.slider:before {
    background-color: var(--secondary-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(72px);
    -ms-transform: translateX(72px);
    transform: translateX(72px);
    background-color:var(--tertiary-color);
}

.slider.round {
    border-radius: 34px;
    color:var(--secondary-color);
}

.slider.round:before {
    border-radius: 50%;
}

.btn-admin {
    width: 80px;
    height: 30px;
    background-color:var(--secondary-color);
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

