* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-disabled{
    opacity: 0.5; 
    pointer-events: none; 
}

/* ---------------NavBar---------------- */
.navbar {
    width: 100%;
    height: 10%;
    background: rgb(255, 222, 207);
    background: linear-gradient(0deg, rgba(249, 194, 169, 0.72) -12.37%, rgba(246, 196, 174, 0.00) 181.44%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    width: 45%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
}

.logo {
    padding-left: 3%;
    padding-right: 5%;
}

.navbar-left-notifications {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 10%;
}

.notifications-count {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right {
    width: 23%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.switch {
    position: relative;
    display: inline-block;
    width: 112px;
    height: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F2F2F5;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid black;
    padding: 4px 3px;

}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 4px;
    top: 4px;
    bottom: 2px;
    background-color: var(--tertiary-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--secondary-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary-color);
}

input+.slider:before {
    background-color: var(--secondary-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(72px);
    -ms-transform: translateX(72px);
    transform: translateX(72px);
    background-color:var(--tertiary-color);
}

.slider.round {
    border-radius: 34px;
    color:var(--secondary-color);
}

.slider.round:before {
    border-radius: 50%;
}

.btn-admin {
    width: 80px;
    height: 30px;
    background-color:var(--secondary-color);
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}




.container {
    width: 100%;
    height: 90%;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
}

/* ---------------container-top-area---------------- */
.container-top {
    width: 100%;
    height: 12%;
    /* border: 1px solid orange; */
    display: flex;

}

.container-top-left {
    width: 65%;
    height: 100%;
    /* border-bottom: 13px solid #d4d2d2; */
    /* border: 1px solid red; */
    position: relative;
    justify-content: center;
    align-items: center;
}

.container-top-right {
    width: 35%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn-addcustomer {
    width: 120px;
    height: 40px;
    background-color:var(--secondary-color);
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 3%;
    cursor: pointer;
}

.cashier-takeaway-btn-area{
    display: flex;
    /* border:1px solid orange; */
    width: 46%;
    height: 100%;
    align-items: center;
    justify-content: space-around;

}

.cashier-takeaway-tabbtn {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}




/* ---------------Container Body Area---------------- */
.container-body {
    width: 100%;
    height: 88%;
    /* border: 5px solid pink; */
    display: flex;
    flex-direction: row;
}

/* ---------------category-area---------------- */
.container-body-left {
    width: 65%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-body-left-inner {
    width: 98%;
    height: 98%;
    background-color: #F2F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.category-items-area {
    width: 95%;
    height: 95%;
    /* background-color: #101A24; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
    position: relative;
   
}

.catergory-card {
    width: 30%;
    height: 15%;
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
    /* margin: 5px; */
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

.catergory-card:hover {
    border: 5px solid var(--primary-color);
    transform: scale(1.05);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #5C6574;

}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}


/* ---------------order pay area---------------- */
.container-body-right {
    width: 35%;
    height: 99%;
    /* border: 4px solid orange; */
}

.cashier-dinein-right-inner-content-body {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(255, 0, 217); */
    display: flex;
    /* align-items: center; */
    background-color: #F2F2F5;
    border-radius: 10px;
    flex-direction: column;

}

.cashier-dinein-right-inner-content-body-top {
    width: 100%;
    background-color: #5C6574;
    height: 20%;
    border-radius: 10px 10px 0 0;
    position: relative;

}

.cashier-orderId {
    width: 100px;
    height: 40px;
    background-color: #5C6574;
    border: none;
    position: absolute;
    left: 5%;
    top: 8%;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.cashier-groupId {
    width: 100px;
    height: 40px;
    background-color: #5C6574;
    border: none;
    position: absolute;
    right: 0%;
    top: 8%;
    font-size: 1.3rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;

}

.cashier-orderId::placeholder {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
}

.cashier-groupId::placeholder {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
}


.customer-mobile-lable {
    position: relative;
    top: 55%;
    left: 5%;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
}

.customer-mobile-input {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 52%;
    left: 18%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 2%;
    font-weight: 500;
    font-size: 1.2rem;
    color: #101A24;
}

.customer-name {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 52%;
    left: 60%;
    border-radius: 10px;
    border: none;
    padding-left: 2%;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--tertiary-color);
    color: #101A24;
}

.cashier-dinein-right-inner-content-body-middle {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    /* border: 1px solid green; */

}

.cashier-dinein-right-inner-content-body-middle::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #5C6574;

}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.cashier-dinein-right-inner-content-body-bottom {
    width: 100%;
    border-top: 2px solid #a6a6a6;
    height: 20%;
    border-radius: 0 0 10px 10px;
    position: relative;
}

#total-lable {
    font-size: 1.5rem;
    font-weight: 500;
    color: #5C6574;
    position: absolute;
    top: 18%;
    left: 10%;
}

#total-input {
    position: absolute;
    top: 12%;
    left: 35%;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    padding: 10px;
}

#tk-total::placeholder {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    padding: 10px;
}

.btn-pay {
    width: 60%;
    height: 40px;
    background-color:var(--secondary-color);
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 57%;
    left: 20%;
}


/* ===============second view================= */

/* ---------------alphabet view---------------- */

.alphabetArea{
    width: 98%;
    /* border: 1px solid green; */
    height: 100%;
    /* display: flex; */
    position: relative;
    left: 1%;
    top: 4%;
    display: none;


}

.backButtonArea{
    width: 10%;
    height: 100%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    display: flex;
   
    cursor: pointer;
 
}

.alphabetLettersArea{
    width: 90%;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.letter-btn{
    width: 3.2rem;
    height: 2.2rem;
    padding: 3px;
    background-color: rgb(241, 239, 239);
    border: 1px solid #ccc4c4;
    box-shadow: 2px 2px #b5b2b2;
    color: var(--secondary-color);
    font-weight: 700;
    border-radius: 5px;
    margin: 1px;
    cursor: pointer;
}



/* ---------------dishes area---------------- */
.dishes-area{
    width: 95%;
    height: 95%;
    border-top: 2px solid var(--text-field-border);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid firebrick; */
    position: relative;
    overflow-y: auto;
    display: none;
   
}


.dishcard {
    width: 30%;
    height: 30%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* border: 1px solid blue; */
    cursor: pointer;

}

.dishcard-image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75%;
}

.dishcard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(255, 0, 183); */
    width: 100%;
    height: 25%;

}

.dish-title {
    position: relative;
    display: inline;
    /* border: 1px solid rgb(174, 255, 0); */
}

.dish-title::after {
    content: '';
    width: 4px;
    height: 25px;
    display: block;
    background-color: var(--primary-color);
    position: absolute;
    left: -12px;
    top: 0px;
}
