@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&family=Inter:wght@400;600&display=swap');

:root {

    --primary-color: #EA6D27;
    --secondary-color: #101A24;
    --tertiary-color: #ffffff;
    --selected-color: #F6C4AE;
    --bg-color: #F2F2F5;
    --panel-selected-color: #F3F3F4;
    --order-panel-color: #5C6574;
    --ready-notification-color: #4BAE4F;
    --font-color: #101A24;
    --text-field-border: #a6a6a6;

    --primary-font-family: 'Inter', sans-serif;
    --secondary-font-family: 'Be Vietnam Pro', sans-serif;

    --text-field-success: #00cc00;
    --text-field-error: #ff3300;
}

body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;

}

li {
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
    overflow-x: scroll;
    margin: 5px;
   
}

th {
    background-color:#d9d9d9;
    text-align: center;
    padding: 5px;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

td {
    text-align: center;
    border-bottom: 1px solid var(--text-field-border);
    padding: 5px;
}
