/* ---------------selected dishes Popup---------------- */
.selectedDishPopup{
    width: 30%;
    height: 55%;
    background-color: white;
    position: fixed;
    top: 5%;
    left: 35%;
    transform: translate(-50%, 50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid var(--order-panel-color);
    display: none;

}

.dishesBox-head {
    width: 100%;
    height: 20%;
    display: flex;

    /* border: 1px solid gold; */

}

.dishesBox-title {
    position: relative;
    display: inline;
    left: 8%;
    top: 30%;
    font-size: 1.7rem;
}

.dishesBox-title::after {
    content: '';
    width: 5px;
    height: 40px;
    display: block;
    background-color: var(--primary-color);
    position: absolute;
    left: -12px;
    top: -1px;
}

.dishesBox-close-icon {
    position: absolute;
    left: 89%;
    top: 0%;
}


.dishesBox-body {
    width: 100%;
    height: 60%;
    /* border: 1px solid rgb(0, 255, 42); */
    display: flex;


}


.dishesBox-body-left {
    width: 60%;
    height: 100%;
    /* border: 1px solid seagreen; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: center;
    position: relative;


}

.qty-input-container {
    border: 1px solid var(--bg-color);
    width: 220px;
    height: 40px;
    display: flex;
    position: relative;
    top: 5px;
    margin-bottom: 30px;
    font-size: 18px;

}

.qty-input {
    width: 70px;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.qty-input-btn {
    width: 100%;
    font-weight: 800;
    color: white;
    background-color: var(--order-panel-color);
    border: none;
    outline: none;

}

.size-input-container {
    width: 230px;
    background-color: var(--bg-color);
    height: 48px;
    margin-bottom: 12px;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}

.size-btn {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(255, 255, 255); */
    border: none;
    font-size: 1.3rem;
    align-items: center;
    outline: none;
}

.size-input {
    width: 30%;
    height: 100%;
    border: none;
    background-color: var(--bg-color);
    /* border: 1px solid firebrick; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.dishesBox-body-right {
    width: 40%;
    height: 100%;
    /* border: 1px solid rgb(139, 46, 46); */
    display: flex;
    justify-content: center;
    align-items: center;

}

.number-area {
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.btn-number {
    width: 50px;
    height: 50px;
    margin: 2px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #e0e0e0;

}

.dishesBox-footer {
    width: 100%;
    height: 20%;
    /* border: 1px solid rgb(0, 8, 255); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.btn-addItem-dinein,
.btn-addItem-takeaway {
    width: 40%;
    height: 50%;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.2rem;

}


/* ---------------Order Confrim Popup---------------- */

.confrim-orderPanel{
    width: 35%;
    height: 95%;
    background-color: white;
    position: absolute;
    left: 40%;
    top: 2.5%;
    display: none;
    flex-direction: column;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   
}

.confrim-orderPanel-top{
    width: 100%;
    /* border: 1px solid red; */
    height: 6%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--secondary-color);

}

.close_icon_orderConfrim{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;

}

.confrim-orderPanel-body{
    width: 100%;
    height: 55%;
    /* border: 1px solid black; */
    justify-content: center;
    display: flex;
    align-items: center;
}

.confrim-orderPanel-body-inner {
    width: 98%;
    height: 95%;
    background-color: #d7dade;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid red; */
    align-items: center;
    font-size: 1.3rem;
 
    color: var(--secondary-color);

}

.confrim-orderPanel-body-inner-container {
    width: 90%;
    height: 15%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}


.orderDiscount {
    width: 25%;
    height: 75%;
    border: none;
    font-size: 1.4rem;
    color: var(--primary-color);
    padding-left: 5%;
    border-radius: 10px;

}

.orderDiscount::placeholder {
    color: var(--primary-color);
    font-size: 1.4rem;
}

.orderDiscount:focus{
    border: none;
    outline: none;
}

.confrim-orderPanel-body-inner-payment {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid green; */
    margin-top: 2%;

}

.confrim-orderPanel-body-inner-payment-label{
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.confrim-orderPanel-body-inner-payment-input{
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(0, 60, 255); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-paymet{
    width: 25%;
    height: 100%;
    border: 1px solid var(--text-field-border);
    border-radius: 10px;
    padding-left: 2%;
    font-size: 1.1rem;
    color: var(--secondary-color);
    font-weight: 800;
}

.input-paymet:focus{
  outline: none;
}

.label-paymet{
    color: var(--secondary-color);
    font-weight: 800;
}

.btn-confrim {
    width: 80%;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    /* top: 20%; */
    left: 11%;
    bottom: 10%;
    cursor: pointer;
}
.confrim-orderPanel-footer{
    width: 100%;
    height: 39%;
    /* border: 1px solid rgb(3, 14, 49); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberic-keypad-order{
    width: 98%;
    height: 98%;
    background-color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2.5%;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    display: flex;

}

#keyboard-order{
    margin-left: 8%;
    margin-bottom: 1%;
    padding: 0;
    list-style: none;
    /* border: 1px solid red; */
    height: 90%;
    width: 98%;
}

#keyboard-order li {
    float: left;
    margin: 0 5px 5px 0;
    width: 30%;
    height: 58px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#keyboard-order li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}



/* ---------------selected Order DishCard---------------- */
.selectItemCard {
    min-width: 90%;
    /* border: 1px solid var(--primary-color); */
    min-height: 30%;
    margin-top: 3%;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* display: flex; */
    flex-direction: row !important;
   
  
}

.selectItemCard-left{
    width: 80%;
    height: 100%;
    /* border: 1px solid rgb(128, 0, 0); */
    display: flex;
    flex-direction: column;
    
}

.selectItemCard-head {
    /* border: 1px solid green; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.2rem;
}

.selectItemCard-bottom {
    /* border: 3px solid rgb(0, 128, 30); */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.selectItemCard-right{
    width: 20%;
    height: 100%;
    /* border: 1px solid rgb(34, 0, 128); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid var(--bg-color);
}

.selectItemQty {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.selectItemType {
    font-size: 0.9rem;
    color: var(--primary-color);
}

.selectItemName,
.selectedItemPrice {
    size: 0.8rem;
    color: var(--secondary-color);
}


.selectItemSize {
    size: 0.8rem;
    color: var(--order-panel-color);
}
