<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="../styles/common-styles.css">
    <link rel="stylesheet" href="../styles/admin/layout.css">
    <link rel="stylesheet" href="../styles/admin/dashboard.css">
    <link rel="stylesheet" href="../styles/admin/employee.css">
    <link rel="stylesheet" href="../styles/admin/dish.css">
    <link rel="stylesheet" href="../styles/admin/stock.css">
    <link rel="stylesheet" href="../styles/admin/order.css">
    <link rel="stylesheet" href="../styles/admin/customer.css">


</head>

<body>
    <main>
        <aside>
            <div class="aside-top">
                <img class="logo" src="../icons/rms_logo.png" height="60px" alt="resturant management system logo"
                    loading="eager">
                <h1>Restua<span>rant</span></h1>
            </div>

            <ul class="aside-nav-button-list">
                <li>
                    <div class="side-nav-link active" id="btn-adminDashboard">
                        <img src="../icons/dashboard.png" alt="admin-dashboard" loading="eager">
                        Dashboard
                    </div>
                </li>

                <li>
                    <div class="side-nav-link" id="btn-adminEmployer">
                        <img src="../icons/user.png" alt="admin-dashboard user" loading="eager">
                        Employer
                    </div>
                </li>

                <li>
                    <div class="side-nav-link" id="btn-adminDish">
                        <img src="../icons/dish.png" alt="admin-dashboard dish" loading="eager">
                        Dish
                    </div>

                </li>

                <li>
                    <div class="side-nav-link" id="btn-adminStock">
                        <img src="../icons/stock.png" alt="admin-dashboard stock" loading="eager">
                        Stock
                    </div>

                </li>

                <li>
                    <div class="side-nav-link" id="btn-adminOrder">
                        <img src="../icons/order.png" alt="admin-dashboard order" loading="eager">
                        Order
                    </div>

                </li>

                <li>

                    <div class="side-nav-link" id="btn-adminCustomer">
                        <img src="../icons/customer.png" width="50px" alt="admin-dashboard report" loading="eager">
                        Cusomer
                    </div>

                </li>

                <li>
                    <div class="side-nav-link" id="btn-adminReport">
                        <img src="../icons/report.png" alt="admin-dashboard report" loading="eager">
                        Report
                    </div>

                </li>

            </ul>
        </aside>
        <section class="container">
            <nav class="navbar">
                <div class="navbar-left">
                    <img src="../icons/admin-img.png" class="logo" height="50px" alt="admin logo" loading="eager">
                    <p id="currentDateAndTime">11 NOV 2023 | 9.02 AM</p>
                </div>
                <div class="navbar-right">
                    <label class="switch">
                        <input type="checkbox" checked id="toTakeAwayToggle">
                        <span class="slider round" style="font-size: 14px; padding: 10px;"><span
                                style="color:#F2F2F5; font-size: 14px; margin-left: 6px;">Admin</span>Cashier</span>
                    </label>

                    <div class="cashier-top-notification">
                        <img src="../icons/notification-orange.png" class="inPreparing-bell" alt="notifications"
                            loading="eager" width="35px" height="35px">
                        <p class="notifications-count">6</p>
                    </div>
                    <img class="cashier-logout" src="../icons/logout.png" style="cursor: pointer;" alt="log out"
                        loading="eager" width="35px" height="35px" id="logOut">

                </div>
            </nav>

            <section class="admin-section dashboard" style="display: block;" id="dashboard-section">
                <div class="dashboard-container">
                    <div class="dashboard-left">
                        <div class="dashboard-details">

                            <div class="count-wrap">
                                <div class="count-box">
                                    <div class="count-box-inside">
                                        <img src="../images/emp.png" alt="employer" width="100%">
                                        <p>Employee</p>
                                        <aside>+<p id="allUsers">00</p>
                                        </aside>
                                    </div>
                                </div>
                                <div class="count-box">
                                    <div class="count-box-inside">
                                        <img src="../images/orders.png" alt="orders" width="100%">
                                        <p>Orders</p>
                                        <aside>+<p id="allOrders">00</p>
                                        </aside>
                                    </div>
                                </div>
                                <div class="count-box">
                                    <div class="count-box-inside">
                                        <img src="../images/meals.png" alt="dishes" width="100%">
                                        <p>Dishes</p>
                                        <aside>+<p id="allDish">00</p>
                                        </aside>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="dashboard-report">
                            <!---------report ui eka ---------------->
                        </div>

                    </div>

                    <div class="dashboard-right">
                        <div class="container-wrap-right">
                            <div class="right-wrap-inside">
                                <div class="tablesView-head">
                                    <div class="header-wrap">
                                        <h1 class="heading">Tables</h3>
                                    </div>
                                </div>
                                <div class="color-intro-wrap">
                                    <div class="color-intro-group">
                                        <div class="color-box color-box-1"></div>
                                        <p>Occupied</p>
                                    </div>

                                    <div class="color-intro-group">
                                        <div class="color-box color-box-2"></div>
                                        <p>U-Maintain</p>
                                    </div>

                                    <div class="color-intro-group">
                                        <div class="color-box color-box-3"></div>
                                        <p>Free</p>
                                    </div>
                                </div>

                                <div class="switch-wrap">
                                    <div class="RightTopNavbarsub">
                                        <!-- <input type="checkbox" id="check">
                                        <label for="check" class="checkButton"></label> -->

                                        <label class="switch">
                                            <input type="checkbox" checked id="check">
                                            <span style="padding: 8px;" class="slider round"><span
                                                    style="color:var(--bg-color);">Indoor</span>Outdor</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="card-section" id="tableCardSection">


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="admin-section employee" id="employee-section" style="display: none;">
                <div class="employee-container">
                    <div class="employee-container-top">

                        <div class="employee-wrap-left">
                            <div class="header-wrap">
                                <h1 class="heading-employee">Employee Manage</h3>
                            </div>
                            <img src="../icons/login_icon.png" alt="employer profile" width="18%">
                            <form action="" class="employee-form" id="userForm">
                                <div class="input-container" id="emp-input-container">
                                    <input class="input-field" type="text" id="userId" placeholder="Employee Id"
                                        name="userId">
                                </div>
                                <div class="input-container" id="emp-input-container">
                                    <input class="input-field" type="text" id="userName" placeholder="Employee Name"
                                        name="userName">
                                </div>
                                <div class="input-container" id="emp-input-container">
                                    <input class="input-field" type="text" id="userContact"
                                        placeholder="Employee Contact" name="userContact">
                                </div>

                                <div class="input-container">
                                    <select id="userRoleOne" name="userRole">
                                        <option>Admin</option>
                                        <option>cashier</option>
                                        <option>waiter</option>
                                        <option>chef</option>
                                    </select>
                                    <select id="userRoleTwo" name="userRoleTwo">
                                        <option>Empty</option>
                                        <option>chef</option>
                                        <option>Admin</option>
                                        <option>cashier</option>
                                        <option>waiter</option>
                                    </select>
                                </div>
                                <div class="input-container" id="emp-input-container">
                                    <input class="input-field" type="text" id="userAddress"
                                        placeholder="Employee Address" name="userAddress">
                                </div>
                                <div class="input-container employee-btnArea" id="emp-input-container">
                                    <button class="btn-submit" id="saveEmployee" type="button">Save</button>
                                    <button class="btn-submit" id="updateEmployee" type="button">Update</button>
                                    <button class="btn-submit" id="deleteEmployee" type="button">Delete</button>
                                </div>
                            </form>
                        </div>

                        <div class="employee-wrap-right">
                            <div class="header-wrap-allEmployee">
                                <h1 class="heading-AllEmployee">All Employees</h3>
                                    <div class="header-wrap-buttonArea">
                                        <button class="btnDownlod"> <img src="../icons/excel.png" width="25px" alt="">
                                            Download</button>
                                        <button class="btnDownlod"> <img src="../icons/csv.png" width="25px" alt="">
                                            Download</button>
                                    </div>

                            </div>
                            <table id="employees">
                                <thead>
                                    <tr>
                                        <th>#Id</th>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>Roles</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody id="employeerTable">
                                    <tr>
                                        <td>Emp001</td>
                                        <td>Sanga</td>
                                        <td>0789878675</td>
                                        <td>Chef</td>
                                        <td>Panadura</td>
                                    </tr>
                                    <tr>
                                        <td>Emp002</td>
                                        <td>shewag</td>
                                        <td>0712345676</td>
                                        <td>Cashier,Chef</td>
                                        <td>Panadura</td>
                                    </tr>


                                </tbody>

                            </table>
                        </div>

                    </div>

                    <div class="employee-container-bottom">
                        <div class="noti-wrap">
                            <div class="noti-box-inside">
                                <img src="../images/admin.jpg" style="width: 150px; height: 120px;" alt="employer">
                                <p>Manager</p>
                                <aside>+<p id="adminCount"></p>
                                </aside>
                            </div>
                        </div>
                        <div class="noti-wrap">
                            <div class="noti-box-inside">
                                <img src="../images/cashier.jpg" style="width: 150px; height: 120px;" alt="employer">
                                <p>Cashier</p>
                                <aside>+<p id="cashierCount"></p>
                                </aside>
                            </div>
                        </div>
                        <div class="noti-wrap">
                            <div class="noti-box-inside">
                                <img src="../images/waiter.jpg" style="width: 150px; height: 120px;" alt="employer">
                                <p>Waiter</p>
                                <aside>+<p id="waiterCount"></p>
                                </aside>
                            </div>
                        </div>
                        <div class="noti-wrap">
                            <div class="noti-box-inside">
                                <img src="../images/chef.jpg" style="width: 150px; height: 120px;" alt="employer">
                                <p>Chef</p>
                                <aside>+<p id="chefCount"></p>
                                </aside>
                            </div>
                        </div>

                    </div>

                </div>


            </section>

            <section class="admin-section dish" id="dish-section" style="display: none;">
            </section>

            <section class="admin-section stock" id="stock-section" style="display: none;">
                <div class="stock-container">
                    <div class="stock-manage-wrap">
                        <div class="header-wrap-ingredientsManage">
                            <h1 class="heading-ingredientsManage">Ingredients Manage</h3>
                        </div>

                        <div class="ingredients-form">
                            <form action="" id="ingredients-form-inputArea">
                                <div>
                                    <input class="input-field input-field-stock" type="text" placeholder="ingredient Id"
                                        name="stockId" id="ingredientId" disabled>
                                </div>

                                <div>
                                    <input class="input-field input-field-stock" type="text"
                                        placeholder="ingredient Name" name="stockId" id="ingredientName">
                                </div>

                                <div>
                                    <select class="input-field input-field-stock" type="text" placeholder="Stock Id"
                                        name="stockId" id="stockId">
                                        <option value="grams">Grams</option>
                                        <option value="mililiters">MiliLiters</option>
                                        <option value="pieces">Pieces</option>

                                    </select>
                                </div>

                                <div>
                                    <input class="input-field input-field-stock" type="text"
                                        placeholder="ingredient Price" name="stockId" id="ingredientPrice">
                                </div>
                            </form>

                            <div class="ingredients-form-btnArea">
                                <button class="btn-submit" type="button" id="ingredientsSaveBtn">Save</button>
                                <button class="btn-submit" type="button" id="ingredientsUpdateBtn">Update</button>
                                <button class="btn-submit" type="button" id="ingredientsDeleteBtn">Delete</button>
                            </div>
                        </div>

                        <div class="header-wrap-stockManage">
                            <h1 class="heading-stockManage">Stock Manage</h3>
                        </div>
                        <div class="stock-form">
                            <form action="" id="stockForm">
                                <div class="form-row">

                                    <div>
                                        <input class="input-field input-field-stock" type="text" placeholder="Stock Id"
                                            name="stockId" id="stockId" disabled>
                                    </div>


                                    <div>
                                        <input class="input-field input-field-stock" type="text"
                                            placeholder="ingredient Id" name="stockQty" id="stock-ingredientId"
                                            disabled>
                                    </div>


                                    <div>
                                        <input class="input-field input-field-stock" list="stock-ingredientsNames"
                                            type="text" placeholder="Ingredients" name="stock-ingrediantName"
                                            id="stock-ingredientName ">
                                        <datalist id="stock-ingredientsNames">


                                        </datalist>
                                    </div>


                                    <div>
                                        <input class="input-field input-field-stock" type="text"
                                            placeholder="ingredient Unit" name="tock-ingrediantUnit"
                                            id="stock-ingrediantUnit" disabled>
                                    </div>


                                    <div>
                                        <input class="input-field input-field-stock" type="text" placeholder="Qty"
                                            name="stockSize" id="stock-ingrediantQty">
                                    </div>


                                    <div>
                                        <input class="input-field input-field-stock" type="text"
                                            placeholder="Total Price" name="stock-ingrediantTotalPric"
                                            id="stock-ingrediantTotalPrice" disabled>
                                    </div>
                                    <button class="btn-submit" type="button" id="stock-ingrediatSaveBtn">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="all-stock-wrap">
                        <div class="all-stock-noti-wrap">

                            <div class="header-wrap-stockManage">
                                <h1 class="heading--stockManage">All Stock</h3>
                                    <div class="header-wrap-buttonArea">
                                        <button class="btnDownlod"> <img src="../icons/excel.png" width="25px" alt="">
                                            Download</button>
                                        <button class="btnDownlod"> <img src="../icons/csv.png" width="25px" alt="">
                                            Download</button>
                                    </div>
                            </div>
                        </div>
                        <div class="all-stock-tbl">
                            <div class="table-container">
                                <table id="stock">
                                    <thead>
                                        <tr>
                                            <th>#Stock Id</th>
                                            <th>#Ingredient Id</th>
                                            <th>Ingredient Name</th>
                                            <th>Unit</th>
                                            <th>Unit Price</th>
                                            <th>Qty</th>
                                            <th>Total Price</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="stock-data-output">

                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="admin-section order" id="order-section" style="display: none;">
                <div class="order-container">
                    <div class="order-header-wrap">
                        <h1 class="order-heading">Order Summary</h3>
                    </div>
                    <div class="order-noti-wrap">
                        <div class="order-noti-box">
                            <img src="../images/totalOrders.jpg" alt="" width="50%">
                            <div>
                                <p>Total Orders</p>
                                <aside id="orderCount">+10</aside>
                            </div>
                        </div>
                        <div class="order-noti-box">
                            <img src="../images/card.jpg" alt="" width="50%">
                            <div>
                                <p>Card Total</p>
                                <aside id="cardCount">00</aside>
                            </div>
                        </div>
                        <div class="order-noti-box">
                            <img src="../images/cash.png" alt="" width="50%">
                            <div>
                                <p>Cash Total</p>
                                <aside id="cashCount">20</aside>
                            </div>
                        </div>
                        <div class="order-noti-box">
                            <img src="../images/cardncash.jpg" alt="" width="50%">
                            <div>
                                <p>Card & Cash Total</p>
                                <aside>100</aside>
                            </div>
                        </div>
                    </div>
                    <div class="order-table-wrap">
                        <div class="order-table-filters">
                            <div class="category-search">
                                <div class="dropdown">
                                    <input type="text" class="dropdown-input dropdown-input-oid"
                                        placeholder="Select Order Id">
                                    <i class="fas fa-chevron-down dropdown-icon dropdown-icon-oid"></i>
                                    <div class="dropdown-menu dropdown-menu-oid">
                                        <!-- Dropdown items will be added here -->
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <input type="text" class="dropdown-input dropdown-input-tid"
                                        placeholder="Select Table Id">
                                    <i class="fas fa-chevron-down dropdown-icon dropdown-icon-tid"></i>
                                    <div class="dropdown-menu dropdown-menu-tid">
                                        <!-- Dropdown items will be added here -->
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <input type="text" class="dropdown-input dropdown-input-eid"
                                        placeholder="Select Emp Id">
                                    <i class="fas fa-chevron-down dropdown-icon dropdown-icon-eid"></i>
                                    <div class="dropdown-menu dropdown-menu-eid">
                                        <!-- Dropdown items will be added here -->
                                    </div>
                                </div>
                            </div>    
                            <!-- <input type="date" id="od_date" name="od_date" class="date-picker"> -->
                            <input type="date" id="date-picker">
                        </div>
                        <table id="order">
                            <thead>
                                <tr>
                                    <th>#Order Id</th>
                                    <th>Table Id</th>
                                    <th>Waiter Id</th>
                                    <th>Date & Time</th>
                                    <th>Customer Id</th>
                                </tr>
                            </thead>
                           <tbody>
                            <tr>
                                <td>OD-001</td>
                                <td>TAB-01</td>
                                <td>EMP-01</td>
                                <td>2023-09-10</td>
                                <td>CUS-001</td>
                            </tr>
                            <tr>
                                <td>OD-002</td>
                                <td>TAB-02</td>
                                <td>EMP-02</td>
                                <td>2023-09-11</td>
                                <td>CUS-002</td>
                            </tr>
                            <tr>
                                <td>OD-003</td>
                                <td>TAB-003</td>
                                <td>EMP-03</td>
                                <td>2023-09-12</td>
                                <td>CUS-003</td>
                            </tr>
                            <tr>
                                <td>OD-004</td>
                                <td>TAB-04</td>
                                <td>EMP-04</td>
                                <td>2023-09-12</td>
                                <td>CUS-004</td>
                            </tr>
                           </tbody>
                            
                        </table>
                    </div>


                </div>

            </section>

            <section class="admin-section customer" id="customer-section" style="display: none;">
                <div class="customer-container">
                    <div class="customer-header-wrap">
                        <h1 class="heading-customer">Customer Manage</h3>
                    </div>
                    <div class="customer-container-top">
                        <div class="customer-inputArea">
                            <input class="input-field-customer-main" type="text"
                            placeholder="Customer Id" disabled>

                            <input class="input-field-customer-main" type="text"
                            placeholder="Customer Name">

                            <input class="input-field-customer-main" type="text"
                            placeholder="Customer Mobile">

                            <select class="input-field-customer-main" name="cars" id="customerStatus">
                                <option value="">Select Credit Status</option>
                                <option value="enable">enable</option>
                                <option value="disable">disable</option>
                               
                              </select>

                        </div>

                        <div  class="customer-buttonArea">
                            <button class="btn-submit" type="button" id="ingredientsSaveBtn">Save</button>
                            <button class="btn-submit" type="button" id="ingredientsUpdateBtn">Update</button>
                            <button class="btn-submit" type="button" id="ingredientsDeleteBtn">Delete</button>
                        </div>

                    </div>

                    <div class="customer-container-bottom">
                        <div class="customer-searchArea">
                            <input class="input-field input-field-customer" type="text"
                            placeholder="Customer Mobile">
                            <button class="btn-submit btn-customer-search">Search</button>
                        </div>
                        <div class="table-container">
                            <table id="customer">
                                <thead>
                                    <tr>
                                        <th>#Customer ID</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Credit Status</th>
                                    </tr>
                                </thead>
                                <tbody id="stock-data-output">
                                    <tr>
                                        <td>C-001</td>
                                        <td>Dasun</td>
                                        <td>0723478908</td>
                                        <td>enable</td>
                                    </tr>
                                    <tr>
                                        <td>C-002</td>
                                        <td>Malinga</td>
                                        <td>0772345678</td>
                                        <td>disable</td>
                                    </tr>
                                    <tr>
                                        <td>C-003</td>
                                        <td>Kalum</td>
                                        <td>0786543213</td>
                                        <td>disable</td>
                                    </tr>
                                   
                                </tbody>


                            </table>
                        </div>

                    </div>

                </div>
            </section>

            <section class="admin-section report" id="report-section" style="display: none;">
            </section>





        </section>



    </main>
    <script src="../lib/jquery-3.6.1.min.js"></script>
    <script src="../scripts/admin/layout.js"></script>
    <script src="../scripts/admin/dashboard.js"></script>
    <script src="../scripts/admin/employee.js"></script>
    <script src="../scripts/admin/dish.js"></script>
    <script src="../scripts/admin/stock.js"></script>
    <script src="../scripts/admin/order.js"></script>
    <script src="../scripts/admin/customer.js"></script>
    <script src="../scripts/admin/report.js"></script>
</body>

</html>