<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier-TakeAway</title>

    <!-- Fontawesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="../styles/common-styles.css">
    <link rel="stylesheet" href="../styles/cashier-takeaway.css">
    <link rel="stylesheet" href="../styles/extrenal-popup.css">
</head>

<body>

    <main>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="../icons/rms_logo.png" class="logo" height="50px" alt="resturant management system logo"
                    loading="eager">
                <p id="currentDateAndTime">11 NOV 2023 | 9.02 AM</p>
                <div class="navbar-left-notifications">
                    <img src="../icons/notification-orange.png" class="inPreparing-bell" alt="notifications"
                        loading="eager" width="35px" height="35px">
                    <p class="notifications-count">6</p>

                    <img src="../icons/notification-green.png" class="ready-bell" alt="notifications" loading="eager"
                        width="53px" height="42px" style="margin-left: 15px; padding-bottom:2px ;">
                    <p class="notifications-count">4</p>
                </div>
            </div>
            <div class="navbar-right">
                <label class="switch">
                    <input type="checkbox" id="toDineinToggle">
                    <span class="slider round" style="font-size: 14px; padding: 10px;"><span
                            style="color:#F2F2F5; font-size: 14px; margin-left: 8px;">DineIn</span>PayOff</span>
                </label>

                <div class="cashier-top-button">
                    <button class="btn-admin" id="btnDAdmin" type="button">Admin</button>
                </div>
                <img class="cashier-logout" src="../icons/logout.png" style="cursor: pointer;" alt="log out"
                    loading="eager" width="35px" height="35px" id="logOut">

            </div>
        </nav>

        <section class="container">
            <section class="container-top">
                <div class="container-top-left">
                    <div class="alphabetArea">
                        <div class="backButtonArea">
                            <img src="../images/back.png" width="110px" style="margin-right: 12%;" alt="">
                        </div>

                        <ul class="alphabetLettersArea">
                            <li>
                                <button class="letter-btn ">A</button>
                            </li>
                            <li>
                                <button class="letter-btn ">B</button>
                            </li>
                            <li>
                                <button class="letter-btn ">C</button>
                            </li>
                            <li>
                                <button class="letter-btn ">D</button>
                            </li>
                            <li>
                                <button class="letter-btn ">E</button>
                            </li>
                            <li>
                                <button class="letter-btn ">F</button>
                            </li>
                            <li>
                                <button class="letter-btn ">G</button>
                            </li>
                            <li>
                                <button class="letter-btn ">H</button>
                            </li>
                            <li>
                                <button class="letter-btn ">I</button>
                            </li>
                            <li>
                                <button class="letter-btn ">J</button>
                            </li>
                            <li>
                                <button class="letter-btn ">K</button>
                            </li>
                            <li>
                                <button class="letter-btn ">L</button>
                            </li>
                            <li>
                                <button class="letter-btn ">M</button>
                            </li>
                            <li>
                                <button class="letter-btn ">N</button>
                            </li>
                            <li>
                                <button class="letter-btn ">O</button>
                            </li>
                            <li>
                                <button class="letter-btn ">P</button>
                            </li>
                            <li>
                                <button class="letter-btn ">Q</button>
                            </li>
                            <li>
                                <button class="letter-btn ">R</button>
                            </li>
                            <li>
                                <button class="letter-btn ">S</button>
                            </li>
                            <li>
                                <button class="letter-btn ">T</button>
                            </li>
                            <li>
                                <button class="letter-btn ">U</button>
                            </li>
                            <li>
                                <button class="letter-btn ">V</button>
                            </li>
                            <li>
                                <button class="letter-btn ">W</button>
                            </li>
                            <li>
                                <button class="letter-btn ">X</button>
                            </li>
                            <li>
                                <button class="letter-btn ">Y</button>
                            </li>
                            <li>
                                <button class="letter-btn ">Z</button>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="container-top-right">
                    <ul class="cashier-takeaway-btn-area">
                        <li>
                            <button class="cashier-takeaway-tabbtn active" id="tab1">Tab 1</button>
                        </li>
                        <li>
                            <button class="cashier-takeaway-tabbtn" id="tab2">Tab 2</button>
                        </li>
                        <li>
                            <button class="cashier-takeaway-tabbtn" id="tab3">Tab 3</button>
                        </li>
                    </ul>

                    <button class="btn-addcustomer" id="btnAddCustomer">Add Customer</button>
                </div>
            </section>

            <section class="container-body">
                <div class="container-body-left">
                    <div class="container-body-left-inner">
                        <div class="category-items-area">
                           
                        </div>
                        <!--------- dishes List------------------>
                        <div class="dishes-area">


                        </div>
                    </div>
                </div>

                <!--------- dishbox popup ui------------------>
                <div class="selectedDishPopup">


                </div>

                 <!--------- add customer popup ui------------------>
                 <div class="addCustomer-box">
                    <div class="addCustomer-box-header">
                        <h4 class="addCustomer-box-title">Save Customer</h4>
                        <img class="addCustomer-box-close-icon" src="../icons/close_icon.png" width="50px" alt="">

                    </div>
                    <div class="addCustomer-box-body">
                        <div class="addCustomer-box-body-top">
                            <div class="addCustomer-input-container">
                                <img src="../icons/phone.png" width="50px" style="padding-left: 3%;" alt="">
                                <input class="addCustomer-inputField" id="dnCustomerMobile" type="text"
                                    placeholder="Customer Mobile" name="cusMobileNo">
                            </div>

                            <div class="addCustomer-input-container">
                                <img src="../icons/user.png" width="50px" style="padding-left: 3%;" alt="">
                                <input class="addCustomer-inputField" id="dnCustomerName" name="cusName" type="text"
                                    placeholder="Customer Name">
                            </div>

                        </div>

                        <div class="addCustomer-box-body-bottom">
                            <div class="keypad-addCustomer">
                                <div class="keys-addCustomer">
                                    <button class="btns-addCustomer">Q</button>
                                    <button class="btns-addCustomer">W</button>
                                    <button class="btns-addCustomer">E</button>
                                    <button class="btns-addCustomer">R</button>
                                    <button class="btns-addCustomer">T</button>
                                    <button class="btns-addCustomer">Y</button>
                                    <button class="btns-addCustomer">U</button>
                                    <button class="btns-addCustomer">I</button>
                                    <button class="btns-addCustomer">O</button>
                                    <button class="btns-addCustomer">P</button>
                                    <button class="btns-addCustomer">A</button>
                                    <button class="btns-addCustomer">S</button>
                                    <button class="btns-addCustomer">D</button>
                                    <button class="btns-addCustomer">F</button>
                                    <button class="btns-addCustomer">G</button>
                                    <button class="btns-addCustomer">H</button>
                                    <button class="btns-addCustomer">J</button>
                                    <button class="btns-addCustomer">K</button>
                                    <button class="btns-addCustomer">L</button>
                                    <button class="btns-addCustomer">Z</button>
                                    <button class="btns-addCustomer">X</button>
                                    <button class="btns-addCustomer">C</button>
                                    <button class="btns-addCustomer">V</button>
                                    <button class="btns-addCustomer">B</button>
                                    <button class="btns-addCustomer">N</button>
                                    <button class="btns-addCustomer">M</button>
                                    <button class="btns-addCustomer wide">Space</button>
                                </div>
                                <div class="addCustomer-numberArea">
                                    <div class="keys-numbers">
                                        <button class="btns-addCustomer-number">1</button>
                                        <button class="btns-addCustomer-number">2</button>
                                        <button class="btns-addCustomer-number">3</button>
                                        <button class="btns-addCustomer-number">4</button>
                                        <button class="btns-addCustomer-number">5</button>
                                        <button class="btns-addCustomer-number">6</button>
                                        <button class="btns-addCustomer-number">7</button>
                                        <button class="btns-addCustomer-number">8</button>
                                        <button class="btns-addCustomer-number">9</button>
                                        <button class="btns-addCustomer-number">0</button>
                                        <button class="btns-addCustomer-number btn-addCustomer-delete">←</i></button>
                                        <button class="btns-addCustomer-number">Enter</i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addCustomer-box-footer">
                        <button disabled id="btnSaveCustomer" type="button">+ Save Customer</button>
                    </div>
                </div>

                <div class="container-body-right">
                    <!--------- Pay Order Panel Tab 1------------------>
                    <div class="cashier-dinein-right-inner-content-body" id="payOrder-panelOne">
                        <div class="cashier-dinein-right-inner-content-body-top">
                            <input type="text" name="" class="cashier-orderId" placeholder="O-001">

                            <label for="cashier-customerId" class="customer-mobile-lable">Mobile</label>
                            <input type="text" list="customer-mobile" class="customer-mobile-input inputCustomer-Mobile-tab1"
                                id="inputCustomer-Mobile" autocomplete="on" />
                            <datalist id="customer-mobile" class="customer-mobile">

                            </datalist>
                            <label type="text" id="customer-name-tab1" class="customer-name"
                                style="padding-top: 1px; color: var(--secondary-color);"></label>

                        </div>
                        <div class="cashier-dinein-right-inner-content-body-middle" id="takeawayPanelOne-container">

                        </div>
                        <div class="cashier-dinein-right-inner-content-body-bottom">
                            <label for="total" id="total-lable">Total</label>
                            <input type="text" id="totalTab1" class="tk-total totalTab1 total-input" placeholder="0.00">
                            <button class="btn-pay" id="btnPayTab1">Pay</button>
                        </div>
                    </div>

                    <!--------- Pay Order Panel Tab 2------------------>
                    <div class="cashier-dinein-right-inner-content-body" id="payOrder-panelTwo">
                        <div class="cashier-dinein-right-inner-content-body-top">
                            <input type="text" name="" class="cashier-orderId" placeholder="O-002">

                            <label for="cashier-customerId" class="customer-mobile-lable">Mobile</label>
                            <input type="text" list="customer-mobile" class="customer-mobile-input inputCustomer-Mobile-tab2"
                                id="inputCustomer-Mobile" autocomplete="on" />
                            <datalist id="customer-mobile">

                            </datalist>
                            <label type="text" id="customer-name-tab2" class="customer-name"
                                style="padding-top: 1px; color: var(--secondary-color);"></label>

                        </div>
                        <div class="cashier-dinein-right-inner-content-body-middle" id="takeawayPanelTwo-container">

                        </div>
                        <div class="cashier-dinein-right-inner-content-body-bottom">
                            <label for="total" id="total-lable">Total</label>
                            <input type="text" id="totalTab2" class="tk-total totalTab2 total-input" placeholder="0.00">
                            <button class="btn-pay" id="btnPayTab2">Pay</button>
                        </div>
                    </div>

                     <!--------- Pay Order Panel Tab 3------------------>
                     <div class="cashier-dinein-right-inner-content-body" id="payOrder-panelThree">
                        <div class="cashier-dinein-right-inner-content-body-top">
                            <input type="text" name="" class="cashier-orderId" placeholder="O-003">

                            <label for="cashier-customerId" class="customer-mobile-lable">Mobile</label>
                            <input type="text" list="customer-mobile" class="customer-mobile-input inputCustomer-Mobile-tab3"
                                id="inputCustomer-Mobile" autocomplete="on" />
                            <datalist id="customer-mobile">

                            </datalist>
                            <label type="text" id="customer-name-tab3" class="customer-name"
                                style="padding-top: 1px; color: var(--secondary-color);"></label>

                        </div>
                        <div class="cashier-dinein-right-inner-content-body-middle" id="takeawayPanelThree-container">

                        </div>
                        <div class="cashier-dinein-right-inner-content-body-bottom">
                            <label for="total" id="total-lable">Total</label>
                            <input type="text" id="totalTab3" class="tk-total total-input" placeholder="0.00">
                            <button class="btn-pay" id="btnPayTab3">Pay</button>
                        </div>
                    </div>
                </div>
            </section>
        </section>

            <!--------- order confrim panel Tab One------------------>
            <div class="confrim-orderPanel" id="confrim-orderPanel-tabOne">
                <div class="confrim-orderPanel-top">
                    <h3 id="orderId-tab1-confrim">Order ID</h3>
                  
                    <img class="close_icon_orderConfrim" src="../icons/close_icon.png" alt="">
                </div>
                <div class="confrim-orderPanel-body">
                    <div class="confrim-orderPanel-body-inner">
    
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Sub Total</h4>
                            <h4 class="subTotal" id="subTotalTab1">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Discount</h4>
                            <input class="orderDiscount orderInput orderDiscountTabOne" type="text" name="" id="discountTab1" placeholder="0%">
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Net-Total</h4>
                            <h4 class="orderNetTotal orderNetTotalTabOne" id="netTotalOne">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-payment">
                            <div class="confrim-orderPanel-body-inner-payment-label">
                                <label class="label-paymet" for="">Cash</label>
                                <label class="label-paymet" for="">Card</label>
                                <label class="label-paymet" for="">Credit</label>
                            </div>
                            <div class="confrim-orderPanel-body-inner-payment-input">
                                <input type="number" value="0.00" name="" id="inputpaycashOne" class="input-paymet">
                                <input type="number" value="0.00" name="" id="inputpaycardOne" class="input-paymet">
                                <input type="number" value="0.00" name="" id="inputpaycreditOne" class="input-paymet">
                            </div>
                        </div>
    
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Balance</h4>
                            <h4 class="orderBalance orderBalanceOne" id="OrderBalanceTab1">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <button class="btn-confrim" id="btnConfrimTab1">confrim</button>
                        </div>
                    </div>
    
                </div>
                <div class="confrim-orderPanel-footer">
                    <div class="numberic-keypad-order">
                        <ul id="keyboard-order">
                            <li class="letter letter-order">1</li>
                            <li class="letter letter-order">2</li>
                            <li class="letter letter-order">3</li>
                            <li class="letter letter-order">4</li>
                            <li class="letter letter-order">5</li>
                            <li class="letter letter-order">6</li>
                            <li class="letter letter-order">7</li>
                            <li class="letter letter-order">8</li>
                            <li class="letter letter-order">9</li>
                            <li class="delete delete-order">←</li>
                            <li class="letter letter-order">0</li>
                            <li class="enter enter-order">Enter</li>
                        </ul>
                    </div>
    
    
                </div>
    
            </div>




             <!--------- order confrim panel Tab Two------------------>
             <div class="confrim-orderPanel" id="confrim-orderPanel-tabTwo">
                <div class="confrim-orderPanel-top">
                    <h3 id="orderId-tab2-confrim">Order ID</h3>
                    <img class="close_icon_orderConfrim" src="../icons/close_icon.png" alt="">
                </div>
                <div class="confrim-orderPanel-body">
                    <div class="confrim-orderPanel-body-inner">
    
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Sub Total</h4>
                            <h4 class="subTotal" id="subTotalTab2">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Discount</h4>
                            <input class="orderDiscount orderInput orderDiscountTabTwo" type="text" name="" id="discountTab2" placeholder="0%">
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Net-Total</h4>
                            <h4 class="orderNetTotal orderNetTotalTabTwo" id="netTotalTwo">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-payment">
                            <div class="confrim-orderPanel-body-inner-payment-label">
                                <label class="label-paymet" for="">Cash</label>
                                <label class="label-paymet" for="">Card</label>
                                <label class="label-paymet" for="">Credit</label>
                            </div>
                            <div class="confrim-orderPanel-body-inner-payment-input">
                                <input type="number" value="0.00" name="" id="inputpaycashTwo" class="input-paymet">
                                <input type="number" value="0.00" name="" id="inputpaycardTwo" class="input-paymet">
                                <input type="number" value="0.00" name="" id="inputpaycreditTwo" class="input-paymet">
                            </div>
                        </div>
    
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Balance</h4>
                            <h4 class="orderBalance orderBalanceTwo" id="OrderBalanceTab2">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <button class="btn-confrim" id="btnConfrimTab2">confrim</button>
                        </div>
                    </div>
    
                </div>
                <div class="confrim-orderPanel-footer">
                    <div class="numberic-keypad-order">
                        <ul id="keyboard-order">
                            <li class="letter letter-order">1</li>
                            <li class="letter letter-order">2</li>
                            <li class="letter letter-order">3</li>
                            <li class="letter letter-order">4</li>
                            <li class="letter letter-order">5</li>
                            <li class="letter letter-order">6</li>
                            <li class="letter letter-order">7</li>
                            <li class="letter letter-order">8</li>
                            <li class="letter letter-order">9</li>
                            <li class="delete delete-order">←</li>
                            <li class="letter letter-order">0</li>
                            <li class="enter enter-order">Enter</li>
                        </ul>
                    </div>
    
    
                </div>
    
            </div>


             <!--------- order confrim panel Tab three------------------>
             <div class="confrim-orderPanel" id="confrim-orderPanel-tabThree">
                <div class="confrim-orderPanel-top">
                    <h3 id="orderId-tab3-confrim">Order ID</h3>
                    <img class="close_icon_orderConfrim" src="../icons/close_icon.png" alt="">
                </div>
                <div class="confrim-orderPanel-body">
                    <div class="confrim-orderPanel-body-inner">
    
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Sub Total</h4>
                            <h4 class="subTotal" id="subTotalTab3">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Discount</h4>
                            <input class="orderDiscount orderInput orderDiscountTabThree" type="text" name="" id="discountTab3" placeholder="0%">
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Net-Total</h4>
                            <h4 class="orderNetTotal orderNetTotalTabThree" id="netTotalThree">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-payment">
                            <div class="confrim-orderPanel-body-inner-payment-label">
                                <label class="label-paymet" for="">Cash</label>
                                <label class="label-paymet" for="">Card</label>
                                <label class="label-paymet" for="">Credit</label>
                            </div>
                            <div class="confrim-orderPanel-body-inner-payment-input">
                                <input type="number" value="0.00" name="" id="inputpaycashThree" class="input-paymet">
                                <input type="number" value="0.00" name="" id="inputpaycardThree" class="input-paymet">
                                <input type="number" value="0.00" name="" id="inputpaycreditThree" class="input-paymet">
                            </div>
                        </div>
    
                        <div class="confrim-orderPanel-body-inner-container">
                            <h4>Balance</h4>
                            <h4 class="orderBalance orderBalanceThree" id="OrderBalanceTab3">0.00</h4>
                        </div>
                        <div class="confrim-orderPanel-body-inner-container">
                            <button class="btn-confrim" id="btnConfrimTab3">confrim</button>
                        </div>
                    </div>
    
                </div>
                <div class="confrim-orderPanel-footer">
                    <div class="numberic-keypad-order">
                        <ul id="keyboard-order">
                            <li class="letter letter-order">1</li>
                            <li class="letter letter-order">2</li>
                            <li class="letter letter-order">3</li>
                            <li class="letter letter-order">4</li>
                            <li class="letter letter-order">5</li>
                            <li class="letter letter-order">6</li>
                            <li class="letter letter-order">7</li>
                            <li class="letter letter-order">8</li>
                            <li class="letter letter-order">9</li>
                            <li class="delete delete-order">←</li>
                            <li class="letter letter-order">0</li>
                            <li class="enter enter-order">Enter</li>
                        </ul>
                    </div>
    
    
                </div>
    
            </div>


    </main>


    <script src="../scripts/cashier-takeaway.js"></script>
</body>

</html>