<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="../styles/common-styles.css">
    <link rel="stylesheet" href="../styles/login.css">
</head>

<body>

    <main>

        <div class="container">
            <div class="top">

                <div class="headerTitle">
                    <h1 class="heading">Welcome Back !</h3>
                </div>
            
                <!-- <div class="headerImage">
                    <img id="loginImage" src="../icons/login_icon.png" height="100px" alt="login_user">
                </div> -->

            </div>

            <div class="body">
                <div class="body-inner">
                    <div class="input-container">
                        <i class="fa-solid fa-user fa-2xl" style="color: #171717;"></i>
                        <input class="input-field" type="text" placeholder="Username" name="username" id="username">
                      </div>

                      <div class="input-container">
                        <i class="fa-solid fa-lock fa-2xl" style="color: #171717;"></i>
                        <input class="input-field" type="password" placeholder="Password" name="password" id="password">
                      </div>
                      <div class="body-inner-bottom">
                        <button type="button"  id="loginBtn" class="btn-login">Log In</button>
                    </div>

                </div>

            </div>

            <div class="footer">
                <div class="footer-inner">
                    <div class="footer-inner-top">
                        <div class="keypad-login">
                            <div class="login-numberArea">
                                <div class="keys-numbers">
                                    <button class="btns-login-number">1</button>
                                    <button class="btns-login-number">2</button>
                                    <button class="btns-login-number">3</button>
                                    <button class="btns-login-number">4</button>
                                    <button class="btns-login-number">5</button>
                                    <button class="btns-login-number">6</button>
                                    <button class="btns-login-number">7</button>
                                    <button class="btns-login-number">8</button>
                                    <button class="btns-login-number">9</button>
                                    <button class="btns-login-number">0</button>
                                    <button class="btns-login-number btn-login-delete">←</i></button>
                                   
                                </div>
                            </div>
                            <div class="keys-login">
                                <button class="btns-login">Q</button>
                                <button class="btns-login">W</button>
                                <button class="btns-login">E</button>
                                <button class="btns-login">R</button>
                                <button class="btns-login">T</button>
                                <button class="btns-login">Y</button>
                                <button class="btns-login">U</button>
                                <button class="btns-login">I</button>
                                <button class="btns-login">O</button>
                                <button class="btns-login">P</button>
                                <button class="btns-login">A</button>
                                <button class="btns-login">S</button>
                                <button class="btns-login">D</button>
                                <button class="btns-login">F</button>
                                <button class="btns-login">G</button>
                                <button class="btns-login">H</button>
                                <button class="btns-login">J</button>
                                <button class="btns-login">K</button>
                                <button class="btns-login">L</button>
                                <button class="btns-login">Z</button>
                                <button class="btns-login">X</button>
                                <button class="btns-login">C</button>
                                <button class="btns-login">V</button>
                                <button class="btns-login">B</button>
                                <button class="btns-login">N</button>
                                <button class="btns-login">M</button>
                                <button class="btns-login wide">Space</button>
                                <button class="btns-login-number">Enter</i></button>
                            </div>
                            
                        </div>

                    </div>
                   

                </div>

            </div>

        </div>


    </main>

    <script src="../scripts/login.js"></script>
</body>

</html>